
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap')
ody {
    font-family: var(--paragraph-font);
    max-width: 960 px;
    padding: 20px;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #3b413c;
    --accent1-color: #9db5b2;
    --accent2-color: #daf0ee;

    --heading-font: 'Archivo Black', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #XXXXXX;
    --nav-link-color: #XXXXXX;
    --nav-hover-link-color: #XXXXXX;
    --nav-hover-background-color: #XXXXXX;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity:0.6;
    position: absolute;
    left:0;
    top:0;
}

article img {
    width: 150px;
    height: auto;
    float:right;
}
h1 {
    position: absolute;
}
article {
    position: absolute;
}