div {
    width: 1024px; 
    margin: auto;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: rgb(8, 76, 133);
}
img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(121, 180, 228);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    text-align: center;
}
p {
    padding: 0px;
}

aside {
    width: 30rem;
    margin: 1.5rem;
    border: 1.5px; solid rgba (0,0,0,0.2);
    padding: 1rem;
    background-color: #eeeeee;
    color: #111111;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #0000;
    text-align: center;
}