* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    width: 1000px; 
    margin: auto;
}
nav {
    background-color: rgba(121, 54, 30, 0.296);
    padding: 10px;
}
nav a {
    color: rgb(14, 2, 2);
    display: block;
    padding: 10px;
}
h1{
    color: rgba(75, 33, 7, 0.882);
}
img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(26, 21, 12);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    text-align: center;
}
p {
    padding: 0;
    text-align: left;
    font: inherit;
}

aside {
    width: 20rem;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    float:right;
}
footer {
    margin-top: 10px;
    border-top: 1px solid #0000;
    text-align: center;
}
main {
    max-width: 600px;
}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    background-color:rgba(213, 154, 118, 0.644);
    border: 1px solid rgb(228, 196, 121);
    color: #4e1a0b;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 360px;
    color:white;
}